{% extends 'base.html' %}

{% load follow_or_unfollow %}

{% block title %}Profile - {{ account.username }}{% endblock title %}

{% block content %}
    <div class="row mb-5">
        <div class="col-8">
            <div class="row text-center mb-2">
                <div class="col">
                    <img class="img-200 img-fluid pb-2" src="{{ account.avatar.url }}" alt=""><br>
                    {% if account == user %}
                        <a href="{% url 'accounts:profile_change' %}"><button class="btn btn-primary">Change profile</button></a>
                    {% endif %}
                </div>
                <div class="col">
                    <span class="h1">{{ account.username.title }} videos <span class="badge rounded-pill bg-secondary">{{ account.videos.count }}</span><br></span>
                    {% if account.about %}
                        <p class="h5">{{ account.about }}</p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                {% for video in account.videos.all %}
                    <div class="col-3">
                        {% include '_video_poster.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            {% if account == user %}
                <h1 class="text-center">Subscriptions <span class="badge rounded-pill bg-secondary">{{ account.subscriptions.count }}</span></h1>
                <hr>
                {% for subscription in account.subscriptions.all %}
                    <div class="row text-center">
                        <div class="col">
                            <a href="{% url 'accounts:profile' username=subscription.username %}"><img class="img-80 img-fluid" src="{{ subscription.avatar.url }}" alt=""></a>
                        </div>
                        <div class="col">
                            <a href="{% url 'accounts:profile' username=subscription.username %}">{{ subscription.username.title }}</a><br>
                            Subscribers: <span class="badge rounded-pill bg-danger">{{ subscription.subscribers.count }}</span><br>
                            Videos: <span class="badge rounded-pill bg-secondary">{{ subscription.videos.count }}</span>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                {% if user.is_authenticated %}
                    <h1 class="text-center">Subscribers <span class="badge rounded-pill bg-danger">{{ account.subscribers.count }}</span></h1>
                    <div class="row">
                        {% follow_or_unfollow account=account user=user as follow %}
                        {% if not follow %}
                            <a href="{% url 'accounts:act_profile' act='follow' username=account.username %}" class="btn btn-danger">Follow</a>
                        {% else %}
                            <a href="{% url 'accounts:act_profile' act='unfollow' username=account.username %}" class="btn btn-secondary">Unfollow</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
