{% extends 'base.html' %}

{% load follow_or_unfollow %}

{% block title %}Profile - {{ account.username }}{% endblock title %}

{% block content %}
    <div class="row mb-5">
        <div class="col-8">
            <div class="row">
                <h1 class="text-center">{{ account.username.title }} videos <span class="badge rounded-pill bg-secondary">{{ account.videos.count }}</span></h1>
                {% for video in account.videos.all %}
                    <div class="col">
                        {% include '_video_poster.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            {% if account == user %}
                <h1 class="text-center">Subscriptions <span class="badge rounded-pill bg-secondary">{{ account.subscriptions.count }}</span></h1>
                {% for subscription in account.subscriptions.all %}
                    <p>{{ subscription }}</p>
                {% endfor %}
            {% else %}
                <h1 class="text-center">Subscribers <span class="badge rounded-pill bg-danger">{{ account.subscribers.count }}</span></h1>
                {% follow_or_unfollow account=account user=user as follow %}
                {% if not follow %}
                    <a href="{% url 'accounts:act_profile' act='follow' username=account.username %}" class="btn btn-danger">Follow</a>
                {% else %}
                    <a href="{% url 'accounts:act_profile' act='unfollow' username=account.username %}" class="btn btn-secondary">Unfollow</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
