<div class="row">
    <video class="video" controls preload="none" poster="{{ video.preview.url }}">
        <source src="{% url 'main:video_streaming' slug=video.slug %}" type="video/mp4">
    </video>
    <div class="col text-center">
        Author: <br> <img class="img-80 img-fluid" src="{{ video.author.avatar.url }}" alt="">
        <a href="{% url 'accounts:profile' username=video.author.username %}">{{ video.author.username }}</a>
    </div>
    <div class="col text-center">
        Category: <br> <a href="{% url 'main:category_detail' slug=video.category.slug %}">{{ video.category.name }}</a>
        <span class="badge rounded-pill bg-secondary">{{ video.category.videos.count }}</span>
    </div>
    {% if user == video.author %}<a class="mt-2 btn btn-primary" href="{% url 'main:edit_video' slug=video.slug %}">Edit</a>{% endif %}
    <div class="right">{{ video.created_at }}</div>
</div>
<div class="row">
    <p class="h3 text-center">{{ video.title }}</p>
    <p class="mt-2">Description:</p>
    <div class="margin-left"><p>{{ video.description }}</p></div>
</div>
