<div class="card pb-2 h-100">
    <a href="{% url 'main:video_detail' slug=video.slug %}"><img class="card-img-top" src="{{ video.preview.url }}" alt=""></a>
    <div class="card-body">
        <a class="card-title h5" href="{% url 'main:video_detail' slug=video.slug %}">{{ video.title }}</a>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="user_popup">
                <img class="img-80 img-fluid" src="{{ video.author.avatar.url }}" alt="">
                <a class="h5" href="{% url 'accounts:profile' username=video.author.username %}">{{ video.author }}</a>
            </span>
        </li>
        <li class="right list-group-item">{{ video.created_at }}</li>
        <li class="right list-group-item">Views:  <span class="badge rounded-pill bg-secondary">{{ video.views }}</span></li>
    </ul>
</div>
